

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
 font-family: 'roboto-thin';
 src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
 font-family: 'roboto-light';
 src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
 font-family: 'roboto-regular';
 src: url('../fonts/Roboto-Regular.ttf');
}

body {
 margin-top: 50px;
 margin-bottom: 50px;
 background: none;
 font-family: roboto-light;
}




.full0 {
  background: url(../img/bg0.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full1 {
  background: url(../img/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full2 {
  background: url(../img/bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  background-color: rgba(0,0,0,0);
  color: rgb(200,200,200,0.5);
}

div {
  background-color: rgba(255,255,255,0.05);
  color: white;
}
